<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>popup</title>
    <link rel="stylesheet" href="../style/popup.css">
</head>

<body>
    <div id="app" class="container">
        <div class="page-header">
            <div class="title">CPC游戏资源获取工具</div>
            <div class="navigation">
                <span v-for="item in tabs" @click="tabsTapHandle(item)" :class="selectedId === item.id ? 'selected':''">{{item.text}}</span>
                <i class="selected-tag" :style="{left: left}"></i>
            </div>
        </div>
        <ul class="source-list">
            <li class="list-item" v-for="item in sourceList">
                <img class="source-img" :type="item.type" :src="item.purl" alt="">
                <span></span>
            </li>
            <p class="empty-tips" v-show="sourceList.length === 0">暂无数据</p>
        </ul>
        <div class="footer">
            <!-- <span class="clear" @click="clear">清空</span> -->
            <span class="download" @click="download">下载</span>
        </div>
    </div>
    <script src="../js/vue.min.js"></script>
    <script src="../js/popup.js"></script>
</body>

</html>